<div class="items-container">
    <div class="item-content">
        <!-- Imagen a la izquierda -->
        <img class="img-description" src="{{this.image}}" alt="">

        <!-- Contenedor derecho con texto, precio y botón -->
        <div class="info">
            <h1 class="title">{{name}}</h1> <!-- Nombre del producto -->
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam officiis, recusandae amet aut deserunt eaque, ipsam illo minus fuga blanditiis commodi deleniti. Consequatur cumque iste provident suscipit in vitae rem.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam officiis, recusandae amet aut deserunt eaque, ipsam illo minus fuga blanditiis commodi deleniti. Consequatur cumque iste provident suscipit in vitae rem
            </p>
            <!-- Contenedor para el precio y el botón en la misma línea -->
            <div class="price-button-container">
                
                <h2 class="price">${{price}}</h2> <!-- Precio -->
                <button class="btn-add-des">COMPRAR</button> <!-- Botón -->
            </div>

            <div class="linea-contenedor">
                <hr class="mi-linea-horizontal">
            </div>
        </div>
    </div>

    <!-- Productos relacionados -->
    <div class="related-products" *ngFor="let producto of srvProductos.datosProductos, let i = index">
        <h2 class="product-name">{{producto.str_producto_nombre}}</h2>
    </div>
</div>




<!-- <hr class="line"> -->

<!-- <img src="https://dlcdnwebimgs.asus.com/gain/56ad63d6-05c5-41b8-b167-b70ac4ec2644/w800" alt="" style="width: 470px"> -->

<!-- <h1>carrucel </h1> -->