/* Contenedor principal centrado */
.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* Contenedor de la imagen y la informaci贸n */
.item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* Espacio entre imagen y contenido */
  max-width: 900px;
  width: 100%;
}

/* Imagen del producto */
.img-description {
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* Contenedor derecho con texto, precio y bot贸n */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 450px;
  /* Ajusta este valor seg煤n el dise帽o */
}

.description {
  text-align: justify;
}




/* Nombre del producto */
.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: justify;

}

/* Precio alineado a la izquierda */
.price {
  font-size: 20px;

  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  align-self: flex-start;
}

.price-button-container {
  display: flex;
  /* Para que precio y bot贸n est茅n en la misma fila */
  align-items: center;
  /* Alineaci贸n vertical */
  justify-content: space-between;
  /* Espaciado entre precio y bot贸n */
  width: 100%;
  gap: 20px;
  /* Espacio entre ellos */
}



/* Bot贸n alineado a la derecha */
.btn-add-des {
  width: 150px;
  padding: 10px;
  font-size: 13px;
  font-weight: 900;
  color: #000000;
  padding: 12px 18px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  line-height: .85;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
  border: 1px solid #000000;
  border-radius: 5px;

  &:hover {
    background-color: #d8c8c8 !important;
    border: 1px solid transparent !important;

    & .bg {
      opacity: 10;
    }
  }

}

.btn-add-des:hover {
  background-color: #999b9c;
}

/* L铆nea debajo de todo */
.linea-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mi-linea-horizontal {
  width: 100%;
  border-top: 1px solid #ccc;
}

/*  RESPONSIVE */

/* Para m贸viles (m谩x. 768px) */
@media screen and (max-width: 768px) {
  .item-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .price-button-container {
    flex-direction: column;
    /* Precio y bot贸n en columna */
    gap: 10px;
    /* align-items: center; */
  }

  .img-description {
    max-width: 100%;
  }

  .info {
    align-items: center;
    text-align: center;
  }

  .price {
    align-self: center;
  }

  .btn-add-des {
    align-self: center;
    width: 100%; /* Hace que el bot贸n ocupe todo el ancho */
  }
  .mi-linea-horizontal {
    display: none;
  }
}