<!-- <div class="items-container">
    <div class="item-content">
        <img class="img-description" [src]="url_images[0]" alt="">

        <div class="info">
            <h1 class="title">{{name}}</h1> 
            <p class="description">{{description}}</p>

            <div class="price-button-container">
                <h2 class="price">${{price}}</h2>
                <button class="btn-add-des">COMPRAR</button>

            </div>
            <div>
                <h2>Imágenes</h2>
                <div class="linea-contenedor">
                    <hr class="mi-linea-horizontal">
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="contenedor-slider">
    <!-- Lista de imágenes (Izquierda) -->
    <div class="contenedor-lista">


        <!-- <button (click)="retroceder()" class="flecha" *ngIf="indiceInicio > 0">❮</button>
        <div class="lista-imagenes">
            <img *ngFor="let imagen of getImagenesVisibles()" 
                [src]="imagen" 
                (click)="seleccionarImagen(imagen)"
                [ngClass]="{'seleccionada': imagen === imagenSeleccionada}" 
                alt="Miniatura"
            >
        </div>
        
        <button (click)="avanzar()" class="flecha"
            *ngIf="indiceInicio + maxVisibles < producto.imagenes.length">❯</button> -->


        <button (click)="moverArriba()" class="flecha" 
            [class.oculto]="indiceInicio === 0"
        >
        <i  *ngIf="isMobile" class="material-icons flecha-movil">arrow_back_ios</i>
        <i  *ngIf="!isMobile" class="material-icons flecha-desktop"> keyboard_arrow_up</i>
        <!-- <mat-icon *ngIf="!isMobile" fontSize="36px">keyboard_arrow_up</mat-icon> -->

        </button>

        <!-- <button class="arrow">
            <i class="material-icons">stat_1</i>
        </button> -->

        <div class="lista-imagenes" >
            <img 
            *ngFor="let imagen of obtenerImagenesVisibles()" 
            [src]="imagen" 
            [class.seleccionada]="imagen === imagenSeleccionada" 
            (click)="seleccionarImagen(imagen)"
            (mouseenter)="imagenSeleccionada = imagen"
            >
        </div>

        <button (click)="moverAbajo()" class="flecha"
            [class.oculto]="indiceInicio + cantidadPorPagina >= url_images.length"
        >
        <i  *ngIf="isMobile" class="material-icons flecha-movil">arrow_forward_ios</i>
        <i  *ngIf="!isMobile" class="material-icons flecha-desktop">keyboard_arrow_down</i>
        <!-- <mat-icon>keyboard_arrow_down</mat-icon>
        <mat-icon>keyboard_arrow_left</mat-icon>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon>keyboard_arrow_up</mat-icon> -->
        </button>


        <!-- <button class="arrow">
           <i *ngIf="!isMobile" class="material-icons">stat_minus_1</i>
        </button> -->
       
           
    </div>

    <!-- Imagen Central -->
    <div class="imagen-principal">
        <img [src]="imagenSeleccionada" alt="Imagen Principal">
    </div>

    <!-- Descripción y Compra (Derecha) -->
    <div class="detalle-producto">
        <h1 class="title">{{ dataProduct?.str_producto_nombre }}</h1>
        <p>{{ dataProduct?.str_producto_descripcion}}</p>
        <h3>Precio: ${{ dataProduct?.int_producto_precio }}</h3>
        <button class="btn-description">COMPRAR</button>
 </div>


 