
<nav id="primary_nav_wrap">
  <div class="content-menu">
    <ul>
      <!-- <li class="current-menu-item"><a href="#">Home</a></li> -->
    <!-- <li class=""><a href="#">Home</a></li> -->
    <li><a href="#">Productos</a>
      <ul>
        <li><a href="#">Computación</a></li>
        <li><a href="#">Audio & Sonido</a></li>
        <li><a href="#">Monitores</a></li>
        <li><a href="#">Periféricos</a>
          
          <ul>
            <li><a href="#">Teclados</a>
              <!-- <ul>
                <li><a href="#">Sub Deep 1</a></li>
                <li><a href="#">Sub Deep 2</a></li>
                <li><a href="#">Sub Deep 3</a></li>
                  <li><a href="#">Sub Deep 4</a></li>
              </ul> -->
            </li>
            <!-- <li><a href="#">Mouses</a></li>
            <li><a href="#">Componentes</a></li> -->
          </ul>
        </li>
       
      </ul>
    </li>
    <li><a href="#">Componentes</a>
      <ul>
        <li><a href="#">Procesadores</a></li>
        <li><a href="#">Cases</a></li>
        <li><a href="#">Discos Duros</a></li>
        <li><a href="#">Memorias Ram</a></li>
      </ul>
    </li>
    <li><a href="#">Computadoras</a>
      <ul>
        <li class="dir"><a href="#">Laptops</a></li>
        <li class="dir"><a href="#">Pc Desktop</a>
          <!-- <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
            <li><a href="#">Category 4</a></li>
            <li><a href="#">Category 5</a></li>
          </ul> -->
        </li>
        <!-- <li><a href="#">Sub Menu 3</a></li>
        <li><a href="#">Sub Menu 4</a></li> -->
        <li><a href="#">Todo en Uno</a></li>
      </ul>
    </li>
    <!-- <li><a href="#">Menu 4</a></li> -->
   
    
    <li><a href="#">Hogar</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  </div>

</nav>