
/*----------TABLE---------*/
.search-table {
  /*position: fixed;*/ /* Fija la barra de búsqueda en la pantalla */
  position: absolute;
  top: 1px; /* Distancia desde la parte superior */
  /* right: 50%;
  transform: translateX(-50%); */
  right: 10%;
  width: 30%;
  max-width:500px;
  background: #ffffff;
  /* padding: 1px; */
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Barra de búsqueda */
.search-bar-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 15px;
}


.search-input-3 {
  /* flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px; */
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  outline: none;
  
}

.search-button-3 {
  /* background: #78d8f0; */
  /* background: #45c6f5;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px; */

  background-color: #93e4fd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-button-3:hover {
  background:#7ad1ec;
}

/* Tabla */
.tabla-container-3 {
  margin-top: 1px; 
  overflow-x: auto;
  /* width: 100%;
  display: flex;
  justify-content: center;  */
}

.table-3 {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  border: none;

}

.table-3 th, .table-3 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-3 tr:hover {
  background: #f5f5f5;
  cursor: pointer;
}

/* Imágenes dentro de la tabla */
.table-3 img {
  width: 80px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* Diseño responsivo */
@media (max-width: 768px) {

  .search-table {
    /*position: fixed;*/ /* Fija la barra de búsqueda en la pantalla */
    position: absolute;
    top: 50px; /* Distancia desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width:800px;
    background: #ffffff;
    padding: 1px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  .search-button-3 {
    /*display: none;*/ /* Oculta el botón en dispositivos con ancho menor a 768px */
     /* background: #78d8f0; */
     background-color: #93e4fd;
      color: white;
      border: none;
      margin-top: -1px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      position: absolute;
      right: 1px;
      height: 37px;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
      
  }

  

  
  .search-table {
    padding: 3px;
  }

  .search-bar-1 {
    flex-direction: column;
    gap: 5px;
  }

  .search-input-3 {
    width: 100%;
  }

  .table-3 img {
    width: 60px;
  }
}


@media screen and (max-width: 580px) {
  .search-table {
    margin-top: 5px;
    /*position: fixed;*/ /* Fija la barra de búsqueda en la pantalla */
    position: absolute;
    top: 50px; /* Distancia desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    width: 71%;
    max-width:400px;
    background: #ffffff;
    padding: 1px;
    border-radius: 17px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  .search-button-3 {
    /*display: none;*/ /* Oculta el botón en dispositivos con ancho menor a 768px */
     /* background: #78d8f0; */
 
      /* color: white;
      border: none;
      margin-top: -1px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      position: absolute;
      right: 1px;
      border-radius: 0 10px 10px 0;
      outline: none; */

      height: 37px;
      background-color: #93e4fd;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
  }

}