<!--
<div *ngFor="let img of url_images">
    <img [src]="img" alt="">
  </div>

  <img [src]="url_images[0]" alt=""> -->

<div class="contenedor-slider">
    <!-- Lista de imágenes (Izquierda) -->
    <div class="contenedor-lista">

        <!-- <button (click)="retroceder()" class="flecha" *ngIf="indiceInicio > 0">❮</button>
        <div class="lista-imagenes">
            <img *ngFor="let imagen of getImagenesVisibles()" 
                [src]="imagen" 
                (click)="seleccionarImagen(imagen)"
                [ngClass]="{'seleccionada': imagen === imagenSeleccionada}" 
                alt="Miniatura"
            >
        </div>
        
        <button (click)="avanzar()" class="flecha"
            *ngIf="indiceInicio + maxVisibles < producto.imagenes.length">❯</button> -->


        <button (click)="moverArriba()" class="flecha" 
            [class.oculto]="indiceInicio === 0"
        >
            ▲
        </button>
        <!-- <button class="arrow">
            <i class="material-icons"> keyboard_arrow_up</i>
        </button> -->

        <div class="lista-imagenes" >
            <img 
            *ngFor="let imagen of obtenerImagenesVisibles()" 
            [src]="imagen" 
            [class.seleccionada]="imagen === imagenSeleccionada" 
            
            (mouseenter)="imagenSeleccionada = imagen"
            >
        </div>

        <button (click)="moverAbajo()" class="flecha"
            
            [class.oculto]="indiceInicio + cantidadPorPagina >= url_images.length"
        >
            ▼
        </button>
<!-- 
        <button class="arrow">
            <i class="material-icons">keyboard_arrow_down</i>
        </button> -->
       
           
    </div>

    <!-- Imagen Central -->
    <div class="imagen-principal">
        <img [src]="imagenSeleccionada" alt="Imagen Principal">
    </div>

    <!-- Descripción y Compra (Derecha) -->
    <div class="detalle-producto">
        <h2>{{ this.dataProduct.str_producto_nombre }}</h2>
        <p>{{ this.dataProduct.str_producto_descripcion}}</p>
        <h3>Precio: ${{ this.dataProduct.int_producto_precio }}</h3>
        <button class="boton-comprar">COMPRAR</button>
    </div>


</div>