/*.form-control:focus {
    border: none;
    outline: none;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search-BarBtn i {
    height: unset;
  }

  .search-BarBtn input{
    height: 100%;
    width: 90%;
    background: none;
    border: none;
  }

  .search-BarBtn {
    border-radius: 10px;
  }
  
.tabla-cuerpo {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.tabla-estilos {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 11px;
    width: 100%;
  }
  

.tabla-cuerpo td {
    border-top: 0.5px solid #ccc;
}

.tableBo {
    width: 100%;
    padding-left: 10px;
}

.tableBo td {
    border-top: o.5px solid #ccc;
    cursor: pointer;
}


thead,
tbody,
tfoot,
tr,
td,
th,
table {
    border-spacing: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

table {
    border-bottom: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc;
}

.tabla-estilos tbody tr:nth-child(even) {
    background-color: var(--bs-white);
}
  
  .table-Fill {
    background: var(--color-bg);
    border-radius: 3px;
    border-collapse: collapse;
    width: 428px;
    margin: auto;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }*/

 /* td {
    display: table-cell;
    vertical-align: inherit;
  }
  .content-td {
    display: flex;
    align-items: center;*/

    /* margin: 5px 0px 5px 0px; */
    
    
    /*height: 30px;
    font-size: 11px;
    gap: 5px;
  }
  .pru {
    overflow: auto;
  }*/

  