<div class="body-form">
    <form action=""></form> 
        <div class="containerItems">

            <div class="container-Left">
                <div class="containerInfo">
                    <label for="">Usuario</label>
                    <div class="container-Input">
                        <input 
                            type="text"
                            placeholder="Ingrese nombre de usuario"
                            formControlName="str_user"
                            name="usuario"
                            required
                        >
                    </div>
                </div>
            </div>

            <div class="container-Left">
                <div class="containerInfo">
                    <label for="">Contraseña</label>
                    <div class="container-Input">
                        <input 
                            type="text"
                            placeholder="Ingrese nombre de usuario"
                            formControlName="str_password"
                            name="password"
                            required
                        >
                    </div>
                </div>
            </div>
            
        </div>
</div>