
.header {
  background-color: #f8f9fa;
  /*background-color: #f0eeee;*/ /* Color gris para el fondo */
  color: rgb(63, 63, 63); /* Color del texto */
  padding: 10px 0; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  /* background: #f3dac2;
    background: -webkit-linear-gradient(to right, #919191, #cd9bd3, #e7c09b);
    background: linear-gradient(to right, #7bd0d6, #d096d6, #ccb095);
     */
}

.header-content {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido */
  display: flex;
  font-size: 13px;
}

.icons {
  padding-right: 40px;
  cursor: pointer;
}

.contact-info p {
  margin: 5px 0; /* Espacio entre las líneas de contacto */
  font-size: 10px; /* Tamaño de fuente */
  padding: 10px;
}

.contact-info strong {
  font-weight: bold; /* Resaltar etiquetas como Teléfono, Correo, etc. */
}

.text{
  margin-top: 0.2rem;
  padding-left: 9.5rem;
}


.header {
  padding: 20px;
}

.header-container {
  background-color: #ffffff;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 5px;
  /* border-style:unset; */
  align-items: center;
  position: relative;
  padding: 4px;
}

.header-container h1 {
  justify-content: left;
}


.header-column {
  flex: 1 1 200px;
  margin: 10px;
}

.header-column p {
  font-size: 14px;
}

.line {
  border: 0;
  margin-top: 1px;
  height: 1px;
  background: #d3d2d2; /* Color de la línea */
  margin: px 0; /* Espaciado alrededor de la línea */
  
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); Sombra de la línea */
  }

  .title h1 {
  padding-left: 10px;
  margin-bottom: 4px;
  background-color: #ffffff;

  }

  /*app-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }*/

  