<div class="progress-bar"></div>
<app-header></app-header>

<div class="search-content">
  <app-search></app-search>
</div>

<!-- <div class="container">
  <h1>{{title}}</h1>

  <div class="search-bar">
    <input type="text" 
    class="search" 
    placeholder="¡Comienza a buscar tu plato favorito!" 
    (keyup)="onSearch($event)"
    >
  </div>
</div> -->



<div class="pAside-body">
  <section>
    <!-- <h1>Productos en Stock</h1> -->
    <div class="card-container">
      <div class="card">
        <!-- <h2>Valley</h2> -->
        <!-- <img src="https://images.unsplash.com/photo-1484788984921-03950022c9ef?q=80&w=1532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.</p>
                 -->
        <img src="https://dlcdnwebimgs.asus.com/gain/7adac3c9-a8d5-46f4-9507-a1df684f683d/w800" alt="">

        <h2>ASUS Vivobook 16</h2>

        <p>

          Procesador: Intel® Core™ i9-13900H
          Memoria RAM: 16GB DDR4
          Almacenamiento: 1TB M.2 <br>
          Pantalla: 16" <br>


        </p>

        <div class="container">
          <h2 class="precio">$999</h2>
          <button class="btn-add" (click)="redirectToWhatsApp()">COMPRAR</button>
        </div>


        <!-- <h1 class="price">$140</h1>
                <button class="btn">COMPRAR</button> -->

        <!-- <button class="btn btn-store"
                
                >COMPRAR
                <i class="material-icons">store</i>
                </button> -->
      </div>

      <div class="card">

        <img
          src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/15-3520/media-gallery/in3520-cnb-05000ff090-sl.psd?fmt=png-alpha&pscan=auto&scl=1&wid=5000&hei=5000&qlt=100,1&resMode=sharp2&size=5000,5000&chrss=full&imwidth=5000"
          alt="img">
        <h2>Dell Inspiron 3520</h2>
        <p>
          Procesador: Intel Core i7-1215U <br>
          Memoria RAM: 8GB <br>
          Almacenamiento: 512GB SSD <br>
          Pantalla: 15.6" FHD IPS <br>

        </p>
        <!-- <ul class="custom-bullets">
    
                        <li>Procesador: Intel Core i7-1215U</li>
                        
                        <li>Memoria RAM: 8GB</li>
                        <li>Almacenamiento: 512GB SSD</li>
                        <li>Pantalla: 15.6" FHD IPS</li>
                        <li>Sistema Operativo: Windows 11</li>
    
                      </ul> -->
        <div class="container">
          <h2 class="precio">$700</h2>
          <button class="btn-add" (click)="redirectToWhatsApp()">COMPRAR</button>
        </div>
        <!-- <div class="container">
                    <h3>$750</h3> -->
        <!-- <button class="whatsapp-button" target="_blank">COMPRAR</button> -->

        <!-- <a href="https://wa.me/593968857043"target="_blank" 
                class="btn-add">COMPRAR</a>
                </div> -->

      </div>

      <div class="card">

        <!-- <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.</p> -->
        <img src="https://dlcdnwebimgs.asus.com/gain/56ad63d6-05c5-41b8-b167-b70ac4ec2644/w800" alt="img">
        <h2>Asus Tuf 15</h2>
        <p>
          Procesador: Intel Core i7-12700H <br>
          Memoria RAM: 8GB <br>

          Almacenamiento: 1TB SSD <br>
          Pantalla: 15.6" FHD IPS <br>

        </p>
        <div class="container">
          <h2 class="precio">$1200</h2>
          <button class="btn-add" (click)="redirectToWhatsApp()">COMPRAR</button>
        </div>

      </div>

      <div class="card">

        <!-- <img src="https://images.unsplash.com/photo-1603969409447-ba86143a03f6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img"> -->
        <img
          src="https://static.gigabyte.com/StaticFile/Image/Global/344eb60343e7bc98d0538f1b195e30e5/Product/28512/png/2000"
          alt="img">
        <h2>Gigabyte G5</h2>
        <p>
          Procesador: Intel® Core™ i5-12500H
          Memoria RAM: 16GB
          Almacenamiento: 512GB <br>
          Pantalla: 16" <br>

        </p>

        <div class="container">
          <h2 class="precio">$1125</h2>
          <button class="btn-add" (click)="redirectToWhatsApp()">COMPRAR</button>
        </div>


      </div>


      <!-- <div class="card">
        <h2>Fuji</h2>
        <img
          src="https://images.unsplash.com/photo-1595675024853-0f3ec9098ac7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>

      <div class="card">
        <h2>Sunrise</h2>
        <img
          src="https://images.unsplash.com/photo-1605379399843-5870eea9b74e?q=80&w=1498&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Lake</h2>
        <img
          src="https://images.unsplash.com/photo-1455894127589-22f75500213a?q=80&w=1387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Flowers</h2>
        <img
          src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Snow</h2>
        <img
          src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Sunset</h2>
        <img
          src="https://images.unsplash.com/photo-1472220625704-91e1462799b2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Autumn</h2>
        <img
          src="https://images.unsplash.com/photo-1536724609414-5f000e9a2745?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Stars</h2>
        <img
          src="https://images.unsplash.com/photo-1483817101829-339b08e8d83f?q=80&w=1404&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Van</h2>
        <img
          src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Cat</h2>
        <img
          src="https://images.unsplash.com/photo-1607705703571-c5a8695f18f6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div>
      <div class="card">
        <h2>Lavender</h2>
        <img
          src="https://images.unsplash.com/photo-1599507593499-a3f7d7d97667?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="img" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Augue interdum at erat cursus quis; scelerisque feugiat.
        </p>
      </div> -->

      <div class="card" *ngFor="let producto of srvProductos.datosProductos, let i = index">
        <div *ngIf="producto.str_producto_estado === 'ACTIVO'">

          <img src="{{producto.str_producto_image}}" alt="img">
          <h2>{{producto.str_producto_nombre}}</h2>
          <p>Descripción

          </p>

          <div class="container">
            <h2 class="precio">${{producto.int_producto_precio}}</h2>
            <button class="btn-add" (click)="redirectToWhatsApp()">COMPRAR</button>
          </div>
        </div>
      </div>

    </div>



    <!-- FOOTER -->

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-column">
          <!-- <div class="col-xl-4 col-md-4 mb-30"> -->
          <!-- <div class="single-cta"> -->
          <!-- <i class="fas fa-map-marker-alt"></i> -->
          <!-- <div class="cta-text"> -->
          <h4>Dirección</h4>
          <p>Juan de Machado & Jose A Lequerica. Riobamba - Ecuador</p>
          <!-- <span>Juan de Machado & Jose A Lequerica. Riobamba - Ecuador</span> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>

        <div class="footer-column">
          <h4></h4>
          <br>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <!-- <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Contacto</h4>
              <span>+593 968857043</span>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-altn"></i>
            <div class="cta-text">
              <h4>Email</h4>
              <span>tecno.daniel.97@gmail.com</span>
            </div>
          </div>
        </div> -->

        <div class="footer-column">
          <h4>Contacto</h4>
          <p>Teléfono: +593 968857043</p>
          <p>Email: tecno.daniel.97@gmail.com</p>
        </div>
        <img src="../../../assets/img/tecno-daniel.jpg" alt="img" style="width: 90px; ">

        <!-- <div class="footer-column">
        <h4>Redes Sociales</h4>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div> -->
      </div>

      <!-- En tu archivo .html -->
      <div class="icono-flotante">
        <a href="https://wa.me/593968857043" target="_blank" rel="noopener noreferrer">
          <img src="https://i.postimg.cc/x8HsFDkb/vecteezy-whatsapp-logo-png-whatsapp-icon-png-whatsapp-transparent-18930748.png" alt="">
        </a>
        <!-- <img src="https://static.vecteezy.com/system/resources/previews/018/930/564/original/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.png" alt="" > -->
        
      </div>



      <!-- </div> -->

      <div class="copyright-text">
        <p>Copyright &copy; 2024. Tecno Daniel S.A. Todos los derechos reservados <br>
          <br>
          Este sitio web está en desarrollo
        </p>
      </div>


    </footer>
    <!-- FIN FOOTER -->

  </section>

</div>







<!-- <div class="wrapper">
    <h1>Flexbox</h1>
  <ul class="flex cards">
    <li><h2>Card 1</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 2</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 3</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 4</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 5</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    
  </ul>
  
    <h1>CSS Grid Layout</h1>
  <ul class="grid cards">
    <li><h2>Card 1</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 2</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 3</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 4</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    <li><h2>Card 5</h2>
      <p>Posuere varius ullamcorper ipsum adipiscing dignissim ipsum adipiscing a a quisque malesuada quam purus venenatis sagittis fermentum parturient curabitur montes a metus.
      </p></li>
    
  </ul>
  </div> -->